{{ $filename:= .Get "file" }}
{{ $filename_bare:= $filename }}
{{ $name:= .Site.Params.Version }}
{{ $filename:= $filename | replaceRE "develop/" "" }}
{{ $filename:= print $name "/" $filename  }}
{{ $global_tag:=$filename | replaceRE "/" "" | replaceRE "\\." "" }}
{{ $global_tag:=print "tag" $global_tag}}

<script src="{{$.Site.BaseURL}}/sequence-new.js"></script>


<!--script>
    var filename="{{$.Site.Params.Prefix}}/{{$filename}}"
    var global_tag={{$global_tag}}
</script-->

<style>
    .sequence-head { font: normal 10px sans-serif; }
    .sequence-step { font: normal 10px sans-serif; }
    .sequence-interactions { font: normal 10px sans-serif; }

    div.headcontainer {
        width: 90%;
    }
    div.stepcontainer {
        width: 90%;
        height: 800px;
        overflow: scroll;
    }
    div.tooltip {	
        position: absolute;			
        text-align: left;			
        width: 350px;					
        height: 160px;					
        padding: 10px;				
        font: 10px sans-serif;		
        background: white;	
        border: 1px solid  black;
        border-radius: 2px;			
        pointer-events: none;			
    }
    div.display {	
        position: absolute;			
        text-align: left;			
        width: 350px;					
        height: 200px;					
        padding: 2px;				
        font: 10px sans-serif;
        pointer-events: none;
        top: 0px;
        left: 90%;
    }
    article section.page div.display table tr td, 
    article section.page div.display table tr th,
    article section.page div.tooltip table tr td, 
    article section.page div.tooltip table tr th 
    {
        text-align: left;
        border: 0px;
        padding: 0px;
    }
    .controlbutton {
        fill:lightblue;
        stroke: black;
    }

</style>

</br>


{{ if .Get "viewContainers" }}
<script>
    var viewContainers={{ eq (.Get "viewContainers") "yes" }}
</script>
{{else}}
<script>
    var viewContainers=false
</script>
{{end}}

{{ if .Get "viewGhosts" }}
<script>
    var viewGhosts={{ eq (.Get "viewGhosts") "yes"}}
</script>
{{else}}
<script>
    var viewGhosts=false
</script>
{{end}}


{{ if eq $filename_bare "load" }}
<input type="file" id="file-selector", accept=".log">
</br>

<script>
    var global_tag={{$global_tag}};
    var initial_step = 0;
    const fileSelector = document.getElementById('file-selector');
    fileSelector.addEventListener('change', (event) => {
      const fileList = event.target.files;
      const reader = new FileReader();
      reader.addEventListener('load', (event) => {
        entry_txt(event.target.result, global_tag, viewGhosts, viewContainers, initial_step);
      });
      reader.readAsText(fileList[0]);
    });
</script>  
{{ else }}
<script>
    var filename="{{$.Site.Params.Prefix}}/{{$filename}}";
    var global_tag={{$global_tag}};
    var initial_step = 0;

    console.log(filename, global_tag);

    entry(filename, global_tag, viewGhosts, viewContainers, initial_step);

</script>
{{ end }}

<div id="{{$global_tag}}" style="position: static"></div>

