<!--script src="{{$.Site.BaseURL}}/unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script-->
<script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
<script src="{{$.Site.BaseURL}}/unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
<!--script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script-->

{{ $filename := .Get 0 }}

{{ $my_tag:=$filename | replaceRE "/" "" | replaceRE "\\." "" }}

<div id={{ $my_tag }} style="text-align: center;"></div>


<script>
var dots = [
{{ readFile $filename | safeHTML }}
];

d3.select('#'+{{$my_tag}} ).graphviz()
    .renderDot(dots.join(''))
</script>


