{{ $sub:=index .Site.Data.releases "releases" }}
{{ $BaseURL:=.Site.BaseURL}} 
<ul>
{{ range sort $sub "major" "desc" }} 
<li><a href="{{$BaseURL}}/releases/octopus-{{.major}}">Octopus {{.major}} {{if .name}}[{{.name}}]{{end}}</a></li>
{{ end }}
</ul>