<center>
<button class="btn" type="button" id="btn_prev">Prev</button>
<button class="btn" type="button" id="btn_next">Next</button>
</center>

<script>
	var pathDict = new Object;
	{{ range $key, $value := .Site.Taxonomies.tutorials }}
	    pathDict["{{$key}}"] = [ {{ range $value.Pages }}"{{.Permalink}}", {{ end }} ];
	{{ end }}

    var currentPage = window.location.pathname; 
    const urlParams = new URLSearchParams(window.location.search);

    var navPathIndex = urlParams.get("series");
    const navPath = pathDict[navPathIndex];

    var currentPageIndex = 0;
    if (navPath === undefined && typeof navPath == 'undefined'){
    	//invalid navPathIndex	
    	currentPageIndex = -1;
    } else {
    	currentPageIndex = navPath.findIndex(page => page === currentPage);
    }

    const navInfo = "?series=" + navPathIndex;


    var btn_prev = document.getElementById("btn_prev"); 
    var btn_next = document.getElementById("btn_next"); 

    if (currentPageIndex === -1){
    	console.log("Current page is not in the selected navigation path!");
    	console.log("currentPage:", currentPage);
    	console.log("navPathIndex:", navPathIndex);
    	console.log("navPath:", navPath);
    	btn_prev.style.display = "none";
    	btn_next.style.display = "none";	
    }
    else {
    	if (currentPageIndex > 0) {
    		btn_prev.onclick = function() { window.location = navPath[currentPageIndex - 1] + navInfo; };
    	} else {
    		btn_prev.style.display = "none";
    	}
    	if (currentPageIndex < navPath.length - 1) {
    		btn_next.onclick = function() { window.location = navPath[currentPageIndex + 1] + navInfo; };
    	} else {
    		btn_next.style.display = "none";
    	}
    }

</script>


